.main-autocomplete-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  width: 300px;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container > input {
  width: 100%;
  padding: 10px;
  border-radius: 5%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 16px;
}

.suggestions-list { 
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  overflow-y: auto;
  max-height: 150px;
}

.suggestions {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.suggestions.active, .suggestions:hover {
  background-color: #f0f0f0;
}

.loading-text {
  font-style: italic;
}

.highlighted-text b{
  color: rgb(4, 105, 105);
}